*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
}
.hero_container{
    width: 100%;
    height: max-content;
    background-color: #fff;
    position: relative;
    /* padding-bottom: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 9999;
    box-shadow: 2px 0px 6px 2px rgba(106, 106, 106, 0.302);
}
.header_body{
    width: 100%;
    height: 80px;
    background-color: #fff;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.scrolled {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header_logo_body > a{
    font-family: "Roboto", sans-serif;
    color: #000;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
}
.header_nav_container{
    display: flex;
    gap: 40px;
    align-items: center;
}
.header_nav_container > a{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.header_nav_container > a > button{
    width: max-content;
    height: max-content;
    background-color: #000;
    padding: 12px 26px;
    color: #fff;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.scrolled_header_nav_btn{
    background-color: #457B9D !important;
    color: rgba(255, 255, 255, 0.95) !important;
}

.scrolled_header_nav{
    color: #000 !important;
}

.menu_container{
    width: 12%;
    height: 40%;
    /* background-color: red; */
    display: none;
    color: #457B9D;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.menu_icon{
    font-size: 28px;
}
.menu{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    clip-path: circle(17% at right top);
    transition: clip-path 500ms;
}
.menu.visible{
    clip-path: circle(100%);
}
.menu > a{
    font-size: 22px;
    font-family: "Poppins",sans-serif;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    visibility: hidden;
    opacity: 0;
    transition: visibility 500ms, opacity 500ms;
}
.menu.visible a{
    visibility: visible;
    opacity: 1;
}

.body_item{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.hero_item_section{
    width: 100%;
    height: max-content;
    padding: 60px 200px;
    background-color: #457B9D;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.hero_item_section h2{
    color: #fff;
    font-size: 34px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.hero_item_section P{
    color: #fff;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 28px;
}

.hero_item_button_container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.hero_item_button_container a button{
    width: max-content;
    height: max-content;
    padding: 12px 26px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
}

.hero_item_button_container a:last-child button{
    background-color: #fff;
    color: #000;
}

.about_section{
    width: 100%;
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.about_text_container{
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* background-color: red; */
}

.about_text_container h1{
    color: #000;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.about_text_container p{
    color: #000;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 24px;
}

.about_image{
    width: 48%;
    height: 380px;
    background-color: rgb(230, 230, 230);
    border-radius: 6px;
}

.about_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
}

.core_competence_section{
    width: 100%;
    padding: 40px 80px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgba(211, 211, 211, 0.335);
}

.core_competence_section h1{
    color: #000;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.core_competence_card_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.core_competence_card{
    width: calc((100% / 3) - 20px);
    height: auto;
    padding: 34px;
    background-color: #f6f6f6;
    border-radius: 6px;
    border: 1px solid rgba(128, 128, 128, 0.176);
    display: flex;
    align-items: center;
    justify-content: center;
}

.core_competence_card p{
    color: #000;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-align: center;
}

.featured_projects_section{
    width: 100%;
    padding: 40px 80px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.featured_projects_section h1{
    color: #000;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.projects_card_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.projects_card{
    width: calc((100% / 2) - 20px);
    height: auto;
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 6px;
    border: 1px solid rgba(128, 128, 128, 0.176);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
}

.projects_card:hover{
    box-shadow: 0 0 4px 1px rgba(211, 211, 211, 0.409);
}

.projects_card_top{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.projects_card_top img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgb(230, 230, 230);
}

.projects_card_top h3{
    color: #000;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.project_list{
    padding-left: 1.2rem;
    margin-top: 14px;
}

.project_list li{
    line-height: 1.5;
    list-style-type: disc;
    color: #000;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.image_carousel_body{
    width: 100%;
    padding: 0px 16px;
    position: relative;
}

.project_image_carousel_section{
    width: 100%;
    margin: 50px auto;
    position: relative;
}

.swiper{
    width: 760px !important;
    height: 600px;
    border-radius: 6px;
}

.swiper-slide{
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: relative;
}

.image_carousel_tag_container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 60px;
    padding: 20px 16px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    border-top-right-radius: 6px;
}

.image_carousel_tag_container p{
    color: #000;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

  /* Customize navigation buttons */
.swiper-button-next,
.swiper-button-prev{
    color: #fff;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    padding: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
}

.swiper-button-next{
    right: 260px !important;
}
.swiper-button-prev{
    left: 260px !important;
}

  /* Customize pagination */
.swiper-pagination-bullet{
    background: #000;
}



.contact_media_container{
    width: 100%;
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    background-color: #457B9D;
}

.contact_media_container > h3{
    width: max-content;
    height: max-content;
    padding: 12px 30px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.contact_media_container h6{
    width: 70%;
    color: #fff;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 28px;
}

.media_container{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.media_container > a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: "Inter",sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
}

.contact_media_social_link{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact_media_social_link a{
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #457B9D;
    font-size: 24px;
}

.major_campaign_detail_body{
    width: 100%;
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.major_campaign_item{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.major_campaign_item h3{
    color: #2c9ce2;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.major_campaign_item p{
    color: #000;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.major_campaign_item ul li{
    color: #000;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.major_campaign_item_link{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.major_campaign_item_link a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #457B9D;
    color: #fff;
    font-size: 20px;
}

.major_campaign_item_image_container{
    width: 100%;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.major_campaign_item_image{
    width: calc((100% / 3) - 30px);
    height: 320px;
    background-color: lightgrey;
    border-radius: 6px;
}

.major_campaign_item_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}


@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade_up{
    opacity: 0;
    animation: fadeUp 1s ease-out forwards;
}

.fade_up:nth-child(1){
    animation-delay: 0.2s;
}

.fade_up:nth-child(2){
    animation-delay: 0.4s;
}

.fade_up:nth-child(3){
    animation-delay: 0.6s;
}

.fade_in_left {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* This class will trigger the animation */
.fade_in_left.visible {
    opacity: 1;
    transform: translateX(0);
}

.fade_in_right {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease-out, transform .75s ease-out;
}

/* This class will trigger the animation */
.fade_in_right.visible {
    opacity: 1;
    transform: translateX(0);
}

.fade_in_up {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* This class will trigger the animation */
.fade_in_up.visible {
    opacity: 1;
    transform: translateY(0);
}


@media screen and (max-width: 768px){
    .header_nav_container{
        display: none;
    }
    .menu{
        display: flex;
    }
    .header_body{
        padding: 0px 16px;
    }
    .menu_container{
        display: flex;
    }

    .body_item{
        padding: 0px 0px;
    }
    
    .contact_media_container{
        padding: 50px 16px;
        gap: 20px;
    }

    .media_container{
        padding: 20px 0px;
    }
    
    .media_container > a{
        width: 100%;
        justify-content: center;
        font-size: 22px;
    }

    .contact_media_container h6{
        font-size: 18px;
    }

    .hero_item_section{
        padding: 60px 16px;
        gap: 10px;
    }

    .hero_item_section h2{
        font-size: 24px;
    }
    
    .hero_item_section P{
        font-size: 14px;
        line-height: 24px;
    }

    .about_section{
        padding: 50px 16px;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .about_image{
        width: 100%;
        height: 440px;
    }

    .about_text_container{
        width: 100%;
        gap: 8px;
    }

    .about_text_container h1{
        font-size: 28px;
    }
    
    .about_text_container p{
        font-size: 15px;
        line-height: 24px;
    }

    .core_competence_section{
        padding: 40px 16px 50px;
    }
    
    .core_competence_section h1{
        font-size: 24px;
    }
    
    .core_competence_card{
        width: 100%;
    }

    .core_competence_card p{
        line-height: 22px;
    }

    .featured_projects_section{
        padding: 40px 16px 50px;
    }
    
    .featured_projects_section h1{
        font-size: 24px;
    }

    .projects_card{
        width: 100%;
        padding: 20px 10px 20px;
    }

    .projects_card_top h3{
        font-size: 16px;
        line-height: 22px;
    }

    .project_image_carousel_section{
        width: 100%;
        margin: 0 auto 50px;
        position: relative;
    }
    
    .swiper{
        width: 100% !important;
        height: 400px;
    }

    .swiper-button-next,
    .swiper-button-prev{
        display: none;
    }

    .menu > a{
        font-size: 18px;
    }

    .image_carousel_tag_container{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 90%;
    }

    .major_campaign_detail_body{
        padding: 60px 16px;
    }

    .major_campaign_item h3{
        font-size: 26px;
    }
    
    .major_campaign_item p{
        font-size: 14px;
    }
    
    .major_campaign_item ul li{
        font-size: 14px;
    }

    .major_campaign_item ul{
        padding: 0 0 0 16px;
    }

    .major_campaign_item_image_container{}

    .major_campaign_item_image{
        width: 100%;
    }

}